# Assignment for Week 5      
(Chapter 6 & 7)

## Purpose:
This assignment is intended to help you do the following:       
1.	Differentiate between categorical and non-categorical variables
2.	Convert variables from one type to another
3.	Familiarize with strings

## Action Items:      
â€¢	Convert data
1. Work on your selected data set and covert a column of non-categorical type into a categorical type. 
2. Convert another column into a string type. 
3. Post your work on GitHub
4. Add a README file

In [28]:
import pandas as pd 
import seaborn as sns

In [73]:
baseball = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/baseballdatabank-master/core/HallOfFame.csv')

In [74]:
baseball.head(5)

    playerID  yearID votedBy  ballots  ...  votes  inducted category needed_note
0   cobbty01    1936   BBWAA    226.0  ...  222.0         Y   Player         NaN
1   ruthba01    1936   BBWAA    226.0  ...  215.0         Y   Player         NaN
2  wagneho01    1936   BBWAA    226.0  ...  215.0         Y   Player         NaN
3  mathech01    1936   BBWAA    226.0  ...  205.0         Y   Player         NaN
4  johnswa01    1936   BBWAA    226.0  ...  189.0         Y   Player         NaN

[5 rows x 9 columns]

In [75]:
baseball.dtypes

playerID        object
yearID           int64
votedBy         object
ballots        float64
needed         float64
votes          float64
inducted        object
category        object
needed_note     object
dtype: object

In [76]:
baseball['inducted'] = baseball['inducted'].astype('category')
print(baseball.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4191 entries, 0 to 4190
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   playerID     4191 non-null   object
 1   yearID       4191 non-null   int64
 2   votedBy      4191 non-null   object
 3   ballots      3994 non-null   float64
 4   needed       3837 non-null   float64
 5   votes        3994 non-null   float64
 6   inducted     4191 non-null   category
 7   category     4191 non-null   object
 8   needed_note  157 non-null    object
dtypes: category(1), float64(3), int64(1), object(4)
memory usage: 266.2+ KB
None

In [79]:
baseball['needed'] = baseball['needed'].astype(str)
print(baseball.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4191 entries, 0 to 4190
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   playerID     4191 non-null   object
 1   yearID       4191 non-null   int64
 2   votedBy      4191 non-null   object
 3   ballots      3994 non-null   float64
 4   needed       4191 non-null   object
 5   votes        3994 non-null   float64
 6   inducted     4191 non-null   category
 7   category     4191 non-null   object
 8   needed_note  157 non-null    object
dtypes: category(1), float64(2), int64(1), object(5)
memory usage: 266.2+ KB
None