# Assignment for Week 7

In [ ]:
def get_data_table(df, date_col, group_col, type_x):
    df_gross = (df.loc[(df.type == type_x) &
                                      df.category.isin(['category_x', 'category_xy', 'category_xyz'])
                                     ]
                         .groupby([group_col, date_col]).sum()
                         .unstack(date_col)['amount'].fillna(0)
                         .resample('M', axis=1).sum()
                        )

    df_recovered = (df.loc[(df.type == type_x) &
                                  df.category.isin(['category_01', 'category_05', 'category_07'])
                                 ]
                    .groupby([group_col, date_col]).sum()
                    .unstack(date_col)['amount'].fillna(0)
                    .resample('M', axis=1).sum()
                    )

    return df_gross.add(df_recovered * -1, fill_value=0)

**1**
#The get_data_table function takes four parameters. Inside this user defined function. loc property is used to access a group of rows and columns, .isin is used to filter data frames by selecting particular values form specific columns .groupby function is used to split data into groups based on data columns .unstack is used to reshaped data frame and .resample is used to summarize and aggregate time series data

In [133]:
 import pandas as pd

In [158]:
df = pd.read_csv('https://raw.githubusercontent.com/frankData612/data_612/master/stock_data/stocks_yahoo.csv',parse_dates=['date'] )
df.head(5)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   no       date  ... Dividend Yield  1Y target est
0   1 2019-11-21  ...      N/A (N/A)        1487.52
1   2 2019-11-21  ...      N/A (N/A)        1459.33
2   3 2019-11-21  ...   6.48 (4.86%)         148.30
3   4 2019-11-21  ...   2.04 (1.36%)         160.16
4   5 2019-11-21  ...   3.08 (1.16%)         257.21

[5 rows x 19 columns]

In [135]:
type(df.date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [152]:

step_1 = df.loc[(df.date =='2020-04-28') & df.company_name.isin(['GOOG - Alphabet Inc.', 'JPM - JPMorgan Chase & Co.', 'MSFT - Microsoft Corporation'])]
step_1

          no       date  ... Dividend Yield  1Y target est
66999  67000 2020-04-28  ...      N/A (N/A)        1497.90
67002  67003 2020-04-28  ...   2.04 (1.17%)         186.61
67016  67017 2020-04-28  ...   3.60 (3.80%)         105.67

[3 rows x 19 columns]

In [153]:
step_2 = step_1.groupby(['company_name', 'date']).sum()
step_2

                                            no  ...  1Y target est
company_name                 date               ...
GOOG - Alphabet Inc.         2020-04-28  67000  ...        1497.90
JPM - JPMorgan Chase & Co.   2020-04-28  67017  ...         105.67
MSFT - Microsoft Corporation 2020-04-28  67003  ...         186.61

[3 rows x 10 columns]

In [154]:
step_3 = step_2.unstack('date')['PE Ratio']
step_3

date                          2020-04-28
company_name
GOOG - Alphabet Inc.               25.09
JPM - JPMorgan Chase & Co.         10.71
MSFT - Microsoft Corporation       29.58

In [155]:
step_4 = step_3.resample('M', axis=1).sum()
step_4

date                          2020-04-30
company_name
GOOG - Alphabet Inc.               25.09
JPM - JPMorgan Chase & Co.         10.71
MSFT - Microsoft Corporation       29.58

In [159]:
ste_2_1 = df.loc[(df.date =='2019-11-21	') & df.company_name.isin(['GOOG - Alphabet Inc.', 'JPM - JPMorgan Chase & Co.', 'MSFT - Microsoft Corporation'])]
ste_2_1

   no       date  ... Dividend Yield  1Y target est
0   1 2019-11-21  ...      N/A (N/A)        1487.52
3   4 2019-11-21  ...   2.04 (1.36%)         160.16
9  10 2019-11-21  ...   3.60 (2.78%)         123.71

[3 rows x 19 columns]

In [160]:
ste_2_2 = ste_2_1.groupby(['company_name', 'date']).sum()
ste_2_2

                                         no  ...  1Y target est
company_name                 date            ...
GOOG - Alphabet Inc.         2019-11-21   1  ...        1487.52
JPM - JPMorgan Chase & Co.   2019-11-21  10  ...         123.71
MSFT - Microsoft Corporation 2019-11-21   4  ...         160.16

[3 rows x 10 columns]

In [161]:
ste_2_3 =ste_2_2.unstack('date')['PE Ratio']
ste_2_3

date                          2019-11-21
company_name
GOOG - Alphabet Inc.               27.93
JPM - JPMorgan Chase & Co.         12.83
MSFT - Microsoft Corporation       28.20

In [162]:
ste_2_4 = ste_2_3.resample('M', axis=1).sum()
ste_2_4

date                          2019-11-30
company_name
GOOG - Alphabet Inc.               27.93
JPM - JPMorgan Chase & Co.         12.83
MSFT - Microsoft Corporation       28.20

In [163]:
final =  step_4.add(ste_2_4 * -1, fill_value=0)
final

date                          2019-11-30  2020-04-30
company_name
GOOG - Alphabet Inc.              -27.93       25.09
JPM - JPMorgan Chase & Co.        -12.83       10.71
MSFT - Microsoft Corporation      -28.20       29.58

#One of the challenges when I applied the function is finding the right data frame that have data time as well as converting the date columns to index of the data frame. Another challenge is not able to apply the data frame into the given user defined function, Therefor I have to apply the functioning separately line by line.

 Tasks   
  1. Read the function above and in a 1-3 paragraphs explain its purpose    

  2. Apply the function to your selected dataframe and modify as needed based on your preferences.    

  3. Write 1-3 paragraphs to explain the differences or challenges when you applied the function to your chosen dataframe.

  4. Post your version of the above code on your GitHub account. Do not forget a README file with explanations.